-- Add DELETE policy for ckp_uploads so Pegawai can delete their own uploads
DROP POLICY IF EXISTS "Pegawai can delete own uploads" ON public.ckp_uploads;
CREATE POLICY "Pegawai can delete own uploads"
    ON public.ckp_uploads FOR DELETE
    USING (user_id = auth.uid() AND status != 'approved');

-- Update DELETE policy for ckp_entries so Pegawai can delete entries for their own uploads (except approved)
DROP POLICY IF EXISTS "Pegawai can delete entries for own draft uploads" ON public.ckp_entries;
DROP POLICY IF EXISTS "Pegawai can delete entries for own uploads" ON public.ckp_entries;
CREATE POLICY "Pegawai can delete entries for own uploads"
    ON public.ckp_entries FOR DELETE
    USING (
        EXISTS (
            SELECT 1 FROM public.ckp_uploads
            WHERE id = upload_id AND user_id = auth.uid()
            AND status != 'approved'
        )
    );
